.quote_container {
  padding: 0 24px;
}

.quote_container p {
  width: 100%;
  text-align: center;
  padding-top: 10rem;
}

@media screen and (min-width: 768px) {
  .quote_container {
    padding: 8rem 120px;
  }

  .quote_container p {
    font-size: 20px;
  }

  .quote_container p span {
    font-size: 20px;
    font-weight: 600;
  }
}
